<div class="container">
  <div class="starter-template">
    <h1>Application Template</h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br>
      All you get is this text and a mostly barebones HTML document.</p>
    <nav>
      <ul class="list-inline">
        <li>{{#link-to "index"}}Home{{/link-to}}</li>
        <li>{{#link-to "people"}}People{{/link-to}}</li>
      </ul>
    </nav>
  </div>
  {{outlet}}
</div>

