<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Project name</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>{{#link-to "index"}}Home{{/link-to}}</li>
        <li>{{#link-to "people"}}People{{/link-to}}</li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if session.isAuthenticated}}
          <li>{{#link-to "logout"}}Logout{{/link-to}}</li>
        {{else}}
          <li>{{#link-to "login"}}Sign In{{/link-to}}</li>
        {{/if}}
        <li>{{#link-to "signup"}}Create Account{{/link-to}}</li>
      </ul>
    </div>
  </div>
</div>

{{outlet}}
