<div class="container">
  <div class="page-header">
    <h3>Sign in</h3>
  </div>
  <div class="col-sm-8 col-sm-offset-2">
    <form {{action "login" on="submit"}}>
      <div class="form-group text-center">
        <a class="btn btn-social btn-facebook">
          <i class="fa fa-facebook"></i>
          Sign in with Facebook
        </a>
      </div>
      <div class="form-group">
        <label for="login" class="control-label">Username or Email</label>
        <input type="text" class="form-control" name="login" id="login" autofocus>
      </div>
      <div class="form-group">
        <label for="password" class="control-label">Password</label>
        <input type="password" class="form-control" name="password" id="password">
      </div>
      <button type="submit" class="btn btn-info">Sign in</button>
    </form>
  </div>
</div>

