<div class="container">
  <h2>login</h2>

  <div class="col-xs-4">
    <a class="btn btn-block btn-social btn-facebook">
      <i class="fa fa-facebook"></i>
      Sign in with Facebook
    </a>
  </div>
</div>