<div class="container">
  <div class="page-header">
    <h3>Sign in</h3>
  </div>
  <div class="col-sm-8 col-sm-offset-2">

    {{#if errorMessage}}
      <div class="alert alert-danger">
        {{errorMessage}}
      </div>
    {{/if}}

    <form {{action "login" on="submit"}}>
      <div class="form-group text-center">
        <a class="btn btn-social btn-facebook">
          <i class="fa fa-facebook"></i>
          Sign in with Facebook
        </a>
      </div>
      <div class="form-group">
        <label for="identification" class="control-label">Username or Email</label>
        {{input type="text" class="form-control" id="identification" value=identification autofocus="autofocus"}}
      </div>
      <div class="form-group">
        <label for="password" class="control-label">Password</label>
        {{input type="password" class="form-control" id="password" value=password}}
      </div>
      <button type="submit" class="btn btn-primary"><i class="fa fa-unlock-alt"></i> Sign in</button>
    </form>
  </div>
</div>
