<h3>People Template</h3>

<table class="table">
  <thead>
  <th>Name</th>
  <th>Age</th>
  <th>Action</th>
  </thead>
  <tbody>
  {{#each person in controller}}
    <tr>
      <td>{{person.name}}</td>
      <td>{{person.age}}</td>
      <td>{{#link-to "person" person }}View{{/link-to}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>

<ul class="list-inline">
  <li>{{#linkTo "new_person"}}New Person{{/linkTo}}</li>
</ul>
