<h3>Person Template</h3>

<p>
  <strong>Name:</strong> {{name}}
</p>

<p>
  <strong>Age:</strong> {{age}}
</p>

<div class="btn-group">
  {{#link-to "people" classNames="btn btn-default"}}<i class="fa fa-long-arrow-left"></i> All People{{/link-to}}
  {{#link-to "edit_person" model classNames="btn btn-default"}}<i class="fa fa-pencil"></i> Edit{{/link-to}}
  <a href="#" class="btn btn-default" {{action "destroy"}}><i class="fa fa-trash-o"></i> Destroy</a>
</div>
