lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
.idea
*.iml
.DS_Store
Thumbs.db

node_modules
temp
dist
build
test/bower_components
app/bower_components
