$navbar-height: 40px;
$navbar-inverse-bg: rgba(0,0,0,0.8);

@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";
@import "lib/bootstrap-social/bootstrap-social";

body {
  padding-top: 40px;
  padding-bottom: 20px;
}
