// Typography
$font-family-sans-serif: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Brand colors
$brand-primary: #4f8edd;
$brand-success: #85c844;
$brand-warning: #cba50d;
$brand-danger: #e72c3c;
$brand-info: #2bbce1;

// Navbar
$navbar-height: 40px;
$navbar-inverse-color: rgba(255, 255, 255, 0.5);
$navbar-inverse-bg: #313338;
$navbar-inverse-border: darken($navbar-inverse-bg, 10%);
$navbar-inverse-link-color: rgba(255, 255, 255, 0.5);

// Buttons
$btn-font-weight: 600;
$btn-default-bg: #e6e7e7;
$btn-default-border: #e6e7e7;

// Alerts and form states
$state-success-text: #527f26;
$state-success-bg: #ebf6e1;
$state-success-border: #b8df92;
$state-info-text: #157890;
$state-info-bg: #ddf4fb;
$state-info-border: #84d8ed;
$state-warning-text: #917608;
$state-warning-bg: #fbf3d0;
$state-warning-border: #f6dc6f;
$state-danger-text: #a81515;
$state-danger-bg: #fdf2f2;
$state-danger-border: #f29797;

// Forms
$input-border-radius: 0;
$input-border-focus: #2598f9;

@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";
@import "lib/bootstrap-social/bootstrap-social";

body {
  padding-top: 40px;
  padding-bottom: 20px;
}

.alert {
  border-radius: 1px;
}

.form-control:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
}

.navbar-brand {
  background-image: url(http://www.joyent.com/content/07-blog/722-joyent-to-sponsor-and-present-at-mongosv-2012/mongodb-leaf.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: left center;
  padding-left: 40px;
  margin-left: 15px;
}

.btn {
  padding: 8px 16px;
  border-width: 0;
  border-radius: 1px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.09);
}

.btn-social {
  padding-left: 44px !important;
}

[class^="fa-"],
[class*="fa-"] {
  margin-right: 5px;
}
